<% include ../partials/header %>

<div class = "container">
    <h1 class="center">Add New Comment to <%=campground.name%></h1>
    
    <div class="comment-form">
        <form action="/campgrounds/<%=campground._id%>/comments" method="POST">
            <input class="form-group form-control" type="text" name="comment[text]" placeholder="text">
            <button class="form-group btn btn-primary btn-block">Submit!</button>
        </form>
        <p class="comment-form"><a href="/campgrounds">Back to Camps</a></p>
    </div>
</div>

<% include ../partials/footer %>