.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.delete-form {
    display: inline;
}

.login-form {
    margin: auto;
}

.comment-form {
    width: 30%; 
    margin: 25px auto;
}

.center {
    text-align: center;
}